# Auto detect text files and perform LF normalization
* text=auto
.vscode/*

__pycache__
*.pyc
resources/app/manifests/keywords.json

search_*.png
clean/
roomPathways/
testPathways/
roomPathways-*.zip
